@charset "ISO-8859-1";
/* insertStyles.css */



    body {
        background-image: url('insert_background.png'); /* Path to your background image */
        background-size: cover; /* Ensure the background image covers the entire body */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Prevent the background image from repeating */
    }
    
  
/* Center the form */
form {
    width: 50%;
    margin: 0 auto;
}

/* Style form labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Style form inputs */
input[type="text"],
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Style submit button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: box-shadow 0.3s ease; /* Add transition effect */
    

}

input[type="submit"]:hover {
    background-color: #0056b3;
      /* Add shadow effect on hover */
       
         box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

/* Add spacing between form elements */
form > * {
    margin-bottom: 20px;
}

/* Add some padding to the form */
body {
    padding: 20px;
}



.form-holder {
        background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white background */
        backdrop-filter: blur(2px); /* Apply a blur effect */
        border-radius: 10px; /* Rounded corners for the form */
        padding: 20px;
        max-width: 500px;
        width: 100%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
        margin: 0 auto;
    }

    .form-content {
        text-align: center;
    }

    .form-items {
        text-align: left;
    }

    .form-content h3 {
        color: #000;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center; /* Center align the text */
    }
    
    
